@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="title">Project details</h1>

<iframe width="560"
        height="315"
        type="video/mp4"
        src="@Url.Content("https://player.vimeo.com/external/269971860.sd.mp4?s=a3036bd1a9f15c1b31daedad98c06a3b24cdd747&profile_id=164&oauth2_token_id=57447761")
        frameborder="0"
        allowfullscreen>
</iframe>