html {
    font-size: 14px;
    
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        
    }
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    margin-bottom: 60px;
    background-color: white;
    background-image: url('../images/bg.png');
    /*background-image: url('/Images/bg.png');
    position:relative;*/
}


/*  Helper Styles */
body {
    font-family: Varela Round;
    background: #f1f1f1;
}

a {
    text-decoration: none;
}

/* Card Styles */

.card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
}

.card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #E26D5C;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

    .card-action:hover {
        color: #fff;
        background: #E26D5C;
        -webkit-animation: pulse 1.5s infinite;
    }

.card-heading {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
}

.card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1F487E;
    color: #fff;
    border-radius: 0 0 8px 8px;
}

    .card-button:hover {
        text-decoration: none;
        background-color: #1D3461;
        color: #fff;
    }


@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }

    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}








body {
    background-color: #eee;
}

.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

lex-direction: column;
}

.btn {
    margin-top: auto;
}

.imgsm {
    width: 300px;
    height: 200px;
}



/*large card front pg*/
body {
    background-color: #eee;
}

.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

lex-direction: column;
}

.btn {
    margin-top: auto;
}








/*Experience card css*/
.container_exp {
    position: relative;
    margin-top: 50px;
    width: 550px;
    height: 300px;
    
}

.overlay_exp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    
}

.container_exp:hover .overlay_exp {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.img_exp {
    position: absolute;
    width: 550px;
    height: 300px;
    left: 0;
}

.title_exp {
    position: absolute;
    width: 500px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
}

.container_exp:hover .title {
    top: 90px;
}

.button_exp {
    position: absolute;
    width: 500px;
    left: 0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

    .button a {
        width: 200px;
        padding: 12px 48px;
        text-align: center;
        color: white;
        border: solid 2px white;
        z-index: 1;
    }

.container_exp:hover .button {
    opacity: 1;
}



/*Primary view*/
html {
    scroll-behavior: smooth;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about, .services, .skills, .teams, .contact, footer {
    font-family: 'Poppins', sans-serif;
}

.home {
    display: flex;
    background-image: url('../images/bg.png');
    /*background-image: url('~/Images/bg.png');*/
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

    .home .max-width {
        width: 100%;
        display: flex;
    }

        .home .max-width .row {
            margin-right: 0;
        }

    .home .home-content .text-1 {
        font-size: 27px;
    }

    .home .home-content .text-2 {
        font-size: 75px;
        font-weight: 600;
        margin-left: -3px;
    }

    .home .home-content .text-3 {
        font-size: 40px;
        margin: 5px 0;
    }

        .home .home-content .text-3 span {
            color: crimson;
            font-weight: 500;
        }

    .home .home-content a {
        display: inline-block;
        background: crimson;
        color: #fff;
        font-size: 25px;
        padding: 12px 36px;
        margin-top: 20px;
        font-weight: 400;
        border-radius: 6px;
        border: 2px solid crimson;
        transition: all 0.3s ease;
    }

        .home .home-content a:hover {
            color: crimson;
            background: none;
        }

/*About*/
.about .title::after {
    content: "who i am";
}

.about .about-content .left {
    width: 45%;
}

    .about .about-content .left img {
        height: 400px;
        width: 400px;
        object-fit: cover;
        border-radius: 6px;
    }

.about .about-content .right {
    width: 55%;
}

    .about .about-content .right .text {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
    }

        .about .about-content .right .text span {
            color: crimson;
        }

    .about .about-content .right p {
        text-align: justify;
    }

    .about .about-content .right a {
        display: inline-block;
        background: crimson;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding: 10px 30px;
        margin-top: 20px;
        border-radius: 6px;
        border: 2px solid crimson;
        transition: all 0.3s ease;
    }

        .about .about-content .right a:hover {
            color: crimson;
            background: none;
        }